@import "generic/functions";
@import "settings";
@import "generic/mixins";

/* Styles */
.c-entry {
	font-family: $base-font;
	font-size: size(body);
    line-height: size(body) * 1.5;
	color: color(text);

	p {
	    margin: 1em 0;
	    padding: 0;
	}

	img {
	    border: none;
	}

	blockquote {
		margin: 1em 0 1em 1em;
	    font-family: Georgia, serif;
	    color: #888;
	}

	ul {
	    padding: 0 0 0 1em;
		margin: 1em 0 1em 1em;
		list-style: square;
	}

	ol {
	    padding: 0 0 0 1em;
		margin: 1em 0 1em 1em;
		list-style: decimal;
	}

	li {
	    clear: both;
	}

	/* sub / sup */
	sub,
	sup {
	    font-size: size(body) - rem-calc(2px);
	}

	/* tables */
	table {
	    empty-cells: show;
	    border-color: color(text);
	    border-collapse: collapse;
	    border-spacing: 0;
	}

	th,
	td {
	    padding: 0 0 0 2px;
	}

	/*
	 * Editor style list
	 */
	h2 {
		/* name: Kop 1*/
		font-family: $base-font;
	}

	h3 {
		/* name: Kop 2*/
		font-family: $base-font;
	}

	h4 {
		/* name: Kop 3*/
		font-family: $base-font;
	}
}



/*
 * text sizes
 */
.cms_textbigger   {
    /* name: Tekst groter*/
    font-family: $base-font;
	font-size: size(body) + rem-calc(2px);
}

.cms_textnormal   {
    /* name: Tekst normaal*/
    font-family: $base-font;
	font-size: size(body);
}

.cms_textsmaller   {
    /* name: Tekst kleiner*/
    font-family: $base-font;
	font-size: size(body) - rem-calc(2px);
}

/*
 * text colors
 */
.cms_defaulttextcolor   {
    /* name: Tekst kleur standaard */
    color: color(text);
	font-family: $base-font;
}

/* eigen implementatie: Let op beschrijving*/
.cms_hoofdkleur   {
    /* name: Tekst hoofdkleur*/
    color: color(primary);
	font-family: $base-font;
}
