@import "settings";
@import "generic/mixins";

/* Styles */
.c-entry {
	font-family: $body-font-family;
	@include font-size;
	color: $body-font-color;

	p {
	    margin: 1em 0;
	    padding: 0;
	}

	img {
	    border: none;
	}

	blockquote {
		margin: 1em 0 1em 1em;
	    font-family: Georgia, serif;
	    color: #888;
	}

	ul {
	    padding: 0 0 0 1em;
		margin: 1em 0 1em 1em;
		list-style: square;
	}

	ol {
	    padding: 0 0 0 1em;
		margin: 1em 0 1em 1em;
		list-style: decimal;
	}

	li {
	    clear: both;
	}

	/* sub / sup */
	sub,
	sup {
	    @include font-size( $body-font-size - 2px );
	}

	/* tables */
	table {
	    empty-cells: show;
	    border-color: $body-font-color;
	    border-collapse: collapse;
	    border-spacing: 0;
	}

	th,
	td {
	    padding: 0 0 0 2px;
	}

	/*
	 * Editor style list
	 */
	h2 {
		/* name: Kop 1*/
		font-family: $primary-font;
	}

	h3 {
		/* name: Kop 2*/
		font-family: $primary-font;
	}

	h4 {
		/* name: Kop 3*/
		font-family: $primary-font;
	}
}



/*
 * text sizes
 */
.cms_textbigger   {
    /* name: Tekst groter*/
    font-family: $body-font-family;
	@include font-size( $body-font-size + 2px );
}

.cms_textnormal   {
    /* name: Tekst normaal*/
    font-family: $body-font-family;
	@include font-size;
}

.cms_textsmaller   {
    /* name: Tekst kleiner*/
    font-family: $body-font-family;
	@include font-size( $body-font-size - 2px );
}

/*
 * text colors
 */
.cms_defaulttextcolor   {
    /* name: Tekst kleur standaard */
    color: $body-font-color;
	font-family: $body-font-family;
}

/* eigen implementatie: Let op beschrijving*/
.cms_hoofdkleur   {
    /* name: Tekst hoofdkleur*/
    color: $primary-color;
	font-family: $body-font-family;
}
