address {
    font-style: normal;
    @include font-size;

    dt {
    	@include inline;
    	width: 16%;
    }

    dd {
    	@include inline;
    	width: 82%;
    	margin: 0;
    }

    a {
        text-decoration: none;
        color: $textcolor;

        &:hover {
            text-decoration: underline;
        }
    }
}