.page-header nav {
	@include inline(middle);
}

.mainnav {
	> li {
	    position: relative;
	}

	> li > a {
	    text-decoration: none;
	}

	// parent active wordt gebruikt als een submenu actief is
	> .active > a,
	.parent-active > a {

	}

	//
	// Sub navigation
	//
	ul {
		position: absolute;
	}
}