@mixin panel( $block:false ) {
    @if $block {
        padding: emCalc(20px);
        border: 1px solid #CCC;
        background: #F5F5F5;
    }
    @else {
        display: block;
        margin: emCalc(20px) 0;
        @include font-size;

        &:first-child { margin-top: 0; }
        &:last-child { margin-bottom: 0; }
    }
}


/* Panels */
.panel {
    @include panel;

    &.block {
        @include panel( $block:true );
    }

    &.callout {
        color: #FFF;
        background: $maincolor;

        a { color: #FFF; }
    }
}