// Background
#sb-overlay{
	position: relative;
	height: 100%;
	width: 100%;
}

#sb-container {
	position: fixed;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	z-index: 999;
	text-align: left;
	visibility: hidden;
	display: none;
}

#sb-wrapper {
	position: absolute;
	visibility: hidden;
	width: 100px;
}

#sb-loading {
	position: relative;
	height: 100%;
	background-color: #000;
}

#sb-loading-inner {
	position: absolute;
	font-size: 14px;
	line-height: 42px;
	height: 42px;
	top: 50%;
	margin-top: -21px;
	width: 100%;
	text-align: center;
	font-family: $font-family;
	font-weight: 500;
	color: #FFF;

	span {
		background: url(../img/loader.gif) no-repeat;
		padding-left: 50px;
		padding-top: 5px;
		display:inline-block;
	}
}

// Title
#sb-title {
	position: relative;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: #000;
}

#sb-title-inner {
	padding: 8px 0 0 8px;
	font-family: $font-family;
	@include font-size(12px,12px);
	font-weight: 700;
	color: #FFF;
}

// Body
#sb-wrapper-inner{
	position: relative;
	border: 8px solid #000;
	overflow: hidden;
	height: 100px;
}

#sb-body {
	position: relative;
	height: 100%;
	background-color: #000;
}

#sb-body-inner{
	position: absolute;
	height: 100%;
	width: 100%;
}

#sb-player.html{ height:100%; overflow: auto; }
#sb-body img{ border:none; }

// Footer
#sb-info {
	position: relative;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: #000;
}

#sb-info-inner {
	height: 26px;
	padding: 0 8px;
	font-family: $font-family;
	@include font-size(12px,12px);
	font-weight: 400;
	color: #FFF;
}

// Nav
#sb-nav{
	float: right;
	height: 24px;
	width: 45%;
}

#sb-nav a {
	display: block;
	float: right;
	height: 24px;
	width: 24px;
	margin-left: 3px;
	cursor:pointer;
	background-repeat: no-repeat;
}
#sb-nav-close { background-image:url(../img/shadowbox/close.png);}
#sb-nav-next { background-image:url(../img/shadowbox/next.png);}
#sb-nav-previous { background-image:url(../img/shadowbox/previous.png);}
#sb-nav-play { background-image:url(../img/shadowbox/play.png);}
#sb-nav-pause { background-image:url(../img/shadowbox/pause.png);}

// Counter
#sb-counter{float:left;width:45%;}
#sb-counter a{padding:0 4px 0 0;text-decoration:none;cursor:pointer;color:#fff;}
#sb-counter a.sb-counter-current{text-decoration:underline;}

// Message
div.sb-message {
	font-family: $font-family;
	font-weight: 500;
	color: #fff;
}
div.sb-message{font-size:12px;padding:10px;text-align:center;}
div.sb-message a:link,div.sb-message a:visited{color:#fff;text-decoration:underline;}