.sitemap {
    margin: 0 0 0 1em;
    padding: 0 0 0 1em;
    list-style: disc;
    @include font-size;

    a { text-decoration: none;
        &:hover { text-decoration: underline; }
    }

    > li {
        margin: 7px 0;

        > a { font-weight: bold; }
    }

    ul {
        margin: 0 0 1em 1em;
        padding: 0 0 0 1em;
        list-style: square;
    }

    #content & ul a { color: #555; }
}