.social {
	li {
		@include inline;
		margin: 0 5px 5px 0;
	}

	a {
		display: block;
		width: icons-sprite-width(facebook);
        height: icons-sprite-width(facebook);
  		text-indent: -900em;
	}

	.fb { @include icons-sprite(facebook); }
	.tw { @include icons-sprite(twitter); }
	.li { @include icons-sprite(linkedin); }
	.go { @include icons-sprite(googleplus); }
	.yt { @include icons-sprite(youtube); }
	.pi { @include icons-sprite(pinterest); }
}