@mixin font( $font: $font-family ) {
	font-family: $font;

	// Typekit classes
	// Bij async loading van typekit komt anders een knippering voor
	.wf-loading & {
		visibility: hidden;
	}

	.wf-active & {
		visibility: visible;
	}
}