* {
    @include box-sizing(border-box);
}

html,
body { font-size: $em-base; }

html {
    overflow-y: scroll;
    background: #FFF;
}

body {
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-family: $font-family;
    color: $textcolor;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
    background: $maincolor;
    text-shadow: none;
	color: #FFF;
}

::selection {
    background: $maincolor;
    text-shadow: none;
	color: #FFF;
}

/*
 * Default list styles
 */
ol, ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */
textarea {
    resize: vertical;
}


/**
 * Time
 */
time {
    font-style: italic;
    @include font-size;
}


/**
 * Blockquote
 */
blockquote {
    margin: 1em 0 1em 35px;
    @include font-size(13px);
    font-family: Georgia, serif;

    &:before {
        display: block;
        height: 0;
        content: "“";
        margin-left: -.75em;
        font: italic 400%/1 Cochin,Georgia,"Times New Roman", serif;
        color: #999;
    }

    cite {
        display: block;
        margin: 5px 0 0 0;
        font-style: normal;
        font-family: $font-family;
        @include font-size(11px);
        text-align: right;
    }
}


/*
 * Chrome Frame
 */
.chromeframe {
    margin: 0;
    padding: 5px 25px 5px 10px;
    border-bottom: 2px outset;
    font: 1.2em message-box;
    color: InfoText;
    background: InfoBackground;

    a {
        color: InfoText;
    }
}

//
// Note
//
.note { font-style: italic; }


//
// Image
//
img {
    //@include image;
}

//
// Header
//
.page-header {

}


// Logo
.logo img {
    @include image(272px);
}


//
// Main
//
#main {

}


// C-entry
@include respond-max( $pagewidth )
{
    .c-entry table {
        display: block;
        max-width: 100%;
        width: auto !important;
    }
}


//
// Footer
//
.page-footer {

}
