// This is the default html and body font-size for the base em value.
$em-base: 16px !default;
$pagewidth: 994px;

// Fonts
$font-size: 12px;
$font-family: Arial, sans-serif;
$titlefont: 'Helvetica Neue', Arial, sans-serif;

// Colors
$bruin: #5F4D42;
$oranje: #F5891F;

$maincolor: $bruin;
$subcolor: $oranje;
$textcolor: #333;
$bordercolor: #DDD;

// Booleans
$include-html-classes: true !default;
$include-print-styles: true !default;

// We use these to control text direction settings
$text-direction: ltr !default; // Controls default global text direction, 'rtl' or 'ltr'
$default-float: left !default;
$default-opposite: right !default;
// No need to change this conditional statement, $text-direction variable controls it all.
@if $text-direction == ltr {
  $default-float: left;
  $default-opposite: right;
} @else {
  $default-float: right;
  $default-opposite: left;
}

// Working in ems is annoying. Think in pixels by using this handy function, emCalc(#px)
@function emCalc($pxWidth) {
  @return $pxWidth / $em-base * 1em;
}

// Creating rems and pixels
@function remCalc($pxWidth) {
  @return $pxWidth / $em-base * 1rem;
}

// Grid Calculation for Percentages
@function gridCalc($colNumber, $totalColumns) {
  @return percentage(($colNumber / $totalColumns));
}

// Dimensions
$small-screen: 768px !default;


// Overig
$fix-mqs: false !default;
$old-ie: false !default;