//
// Foundation Visibility Classes
//

/* Foundation Visibility HTML Classes */
.show-for-small { display: inherit !important; }
.show-for-large { display: none !important; }

.hide-for-large { display: inherit !important; }
.hide-for-small { display: none !important; }

/* Specific visilbity for tables */
table {
    &.show-for-small,
    &.hide-for-large { display: table; }
}
thead {
    &.show-for-small,
    &.hide-for-large { display: table-header-group !important; }
}
tbody {
    &.show-for-small,
    &.hide-for-large { display: table-row-group !important; }
}
tr {
    &.show-for-small,
    &.hide-for-large { display: table-row !important; }
}
td,
th {
    &.show-for-small,
    &.hide-for-large { display: table-cell !important; }
}


@include respond-min($small-screen) {
    .show-for-large { display: inherit !important; }
    .show-for-small { display: none !important; }

    .hide-for-large { display: none !important; }
    .hide-for-small { display: inherit !important; }


    /* Specific visilbity for tables */
    table {
        &.hide-for-small,
        &.show-for-large, { display: table; }
    }
    thead {
        &.hide-for-small,
        &.show-for-large { display: table-header-group !important; }
    }
    tbody {
        &.hide-for-small,
        &.show-for-large { display: table-row-group !important; }
    }
    tr {
        &.hide-for-small,
        &.show-for-large { display: table-row !important; }
    }
    td,
    th {
        &.hide-for-small,
        &.show-for-large { display: table-cell !important; }
    }
}



/* Touch-enabled device targeting */
.show-for-touch { display: none !important; }
.hide-for-touch { display: inherit !important; }
.touch .show-for-touch { display: inherit !important; }
.touch .hide-for-touch { display: none !important; }

/* Specific visilbity for tables */
table.hide-for-touch { display: table; }
.touch table.show-for-touch { display: table; }
thead.hide-for-touch { display: table-header-group !important; }
.touch thead.show-for-touch { display: table-header-group !important; }
tbody.hide-for-touch { display: table-row-group !important; }
.touch tbody.show-for-touch { display: table-row-group !important; }
tr.hide-for-touch { display: table-row !important; }
.touch tr.show-for-touch { display: table-row !important; }
td.hide-for-touch { display: table-cell !important; }
.touch td.show-for-touch { display: table-cell !important; }
th.hide-for-touch { display: table-cell !important; }
.touch th.show-for-touch { display: table-cell !important; }